/* COMMON */
section {
  margin-bottom: 3rem;
}
/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 5rem;
}
.header_container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
}
.top_header {
  background-color: black;
  text-align: end;
  height: 2rem;
}
.top_header img {
  height: 1rem;
}
.bot_header {
  height: 3rem;
  /* Test */
  background-color: deepskyblue;
}
.header_play_logo {
  height: 2.2rem;
}
/* ----------- */
/* ---MAIN---- */
/* ----------- */
main {
  padding-top: 5rem;
}
/* Jumbotron */
.ms_jumbotron {
  height: 24rem;
  background-image: url("../img/jumbo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

/*Playstation 5 */
.playstation {
  /* Test */
  background-color: burlywood;
}
.play-game-cover {
  height: 4rem;
  border-radius: 7px;
}
.play-console-big-pic {
  height: 20rem;
}
.play-list-pic {
  height: 10rem;
}
/* It Takes Two */
.takestwo {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.takestwo img {
  width: 18rem;
}
/* New Release */
.newrelease {
  color: white;
  background-color: #1f1f1f;
}
.newrelase-game-pic {
  height: 10rem;
}
/* Esplora PlayStation 4 */
.explore-play {
  color: #727272;
}
/* PlayStation Plus */
.playplus {
  background-color: #bebcbb;
}
.playplus-april-pic {
  height: 100%;
  max-height: 30rem;
  width: auto;
}
/* PlayStation Store */
.playstore {
  /* Test */
  background-color: aquamarine;
}
.playstore-game-pic {
  width: 100%;
}
/* PlayStation Now */
.playstation-now {
  background-color: #00439c;
  color: white;
}
.playstation-now-big-pic {
  height: 30rem;
}
/* Socials */
.social-logo {
  height: 8rem;
  max-width: 8rem;
}
/* ----------- */
/* --FOOTER--- */
/* ----------- */
footer {
  background-color: #00439c;
  color: white;
  padding: 3rem 0;
}
/* Buttons and Colors */
.btn-orange {
  background-color: #cd3d0f;
  color: white;
}
.btn-grey-plus {
  background-color: #d9dadc;
  color: #00439c;
}
/* ----------- */
/* MEDIA QUERY */
/* ----------- */

/* Da qui lg */
@media screen and (min-width: 992px) {
}
