/* COMMON */

/* HEADER */
.header_container {
  height: 100%;
  width: 95%;
  margin: 0 auto;
}
.top_header {
  background-color: black;
  text-align: end;
  height: 2rem;
}
.top_header img {
  height: 1rem;
}
.bot_header {
  height: 3rem;
  /* Test */
  background-color: deepskyblue;
}
.header_play_logo {
  height: 2.2rem;
}
/* ----------- */
/* ---MAIN---- */
/* ----------- */

/* Jumbotron */
.ms_jumbotron {
  height: 24rem;
  background-image: url("../img/jumbo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

/*Playstation 5 */
.playstation {
  /* Test */
  background-color: burlywood;
}
.play-game-cover {
  height: 4rem;
}
.play-console-big-pic {
  height: 20rem;
}
.play-list-pic {
  height: 10rem;
}
/* It Takes Two */
.takestwo {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}
.takestwo img {
  width: 18rem;
}
/* New Release */
.newrelease {
  color: white;
  /* Test */
  background-color: darkgoldenrod;
}
.newrelase-game-pic {
  height: 10rem;
}
/* PlayStation Plus */
.playplus {
  background-color: #bebcbb;
}
.playplus-april-pic {
  height: 100%;
  max-height: 30rem;
  width: auto;
}
/* PlayStation Store */
.playstore {
  /* Test */
  background-color: aquamarine;
}
.playstore-game-pic {
  width: 100%;
}
/* PlayStation Now */
.playstation-now {
  background-color: #00439c;
}
.playstation-now-big-pic {
  height: 30rem;
}
/* ----------- */
/* MEDIA QUERY */
/* ----------- */

/* Da qui lg */
@media screen and (min-width: 992px) {
}
